* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #E5E5E5;
}

body ::before {

  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  background: #121214;
  z-index: -1;
}
.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;

  margin-top: 74px;
}
header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;

  margin-bottom: 24px;
}

header p {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 26px;

  color: #42D3FF;

  font-weight: 400;
}

form {
  margin-top: 38px;
  background: #ffffff;
  border-radius: 8px 8px 0px 0px; 
  min-height: 300px;

  padding: 64px;
}

fieldset {
  border: none;

  color: black;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  gap: 16px; 
  
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #E6E6F0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px; 
  margin-top: 24px;
  
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 8px;

  color: #4E4958;
}

.input-wrapper label span {
  margin-left: 12px;

  color: #C1BCCC;

  

  font-size: 12px;
  line-height: 20px;
}

.input-wrapper input {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #C1BCCC;
}

button {
  display: flex;
  width: 608px;
  height: 56px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #FAFAFC;
  font-size: 16px;

  border-radius: 8px;
  background: #04D361; 
}